/* @media only screen and (max-device-width: 480px){ */

    /* bonus section */
    .container-bonus {
    max-width: 100%;
    padding: 0 4%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    .points{
    width: 100%;
    border-left: 0px !important;
    border-bottom: 1px solid rgba(0,0,0,0.08) !important;
    /* padding: 25px 15px 10px 30px; */
    }
/*
    .optionPoints {
      margin-top: 30px;
    } */
    .pointTitle{
      font-weight: 500;
      font-size: 2.3rem !important;
      /* line-height: 69px; */
      /* margin-bottom: 120px; */
    }
    /* bonus ends */


    .play{
      height: 151px;
      padding: 25px 57px;
      font-size: 62px;
    }

    .mhero-bottom {
    margin-bottom: 4rem;
    }
    .container-carousel{
      padding: 40px;
      padding-bottom: 88px;
    }
    .course-snapshot{
      width: 65%;
      padding-top: 1.5rem;
      padding-bottom: 0rem;
      width: 86%;
      margin-top: 72px;
    }

    .snapshot-para{
      font-size: 2.2rem;
      margin-bottom: 24px;
    }

    .w{
      width: 56%;
      /* justify-content: center; */
      margin-left: 178px;
      line-height: 1.35;
    }

    #bonus{
      padding: 15% 0 28%;
    }

    .rmar{
      margin-left: 16px;
      padding-left: 20px;
      padding-right: 33px;
    }

    .padding-2{
      padding-left: 125px;
      padding-right: 112px;
    }

    .p{
      margin-bottom: 3rem;
    }

    .padding-3{
      padding-left: 127px;
      padding-right: 125px;
    }



    .v-style{
      width: 85%;
    }


    .mft{
      font-size: 3rem;
    }

    .price-text{
      font-size: 50px;
    }

    .lmar{
      margin-left: 100px !important;
      margin-right: 0;
      margin-bottom: 50px;
    }

    .pdd{
      margin-bottom: 43px;
    }
    .pd2{
      margin-bottom: 20px;
    }

    .bonus{
      width: 68vw;
      height: 12vh;
      margin-right: 0;
      margin-left: 2%;
    }

    .bonus-heading-box{
      margin-bottom: 100px;
    }

    .bio-subheader{
      padding-top: 5%;
    }
    .mbtop{
      margin-top: 36px;
    }

    .t-text{
      font-size: 2rem;
      line-height: 1.35;
    }

    .pd{
      margin-top: 3%;
    }

    .toolkit-section{
      width: 80%;
    }

    .toolkit-heading{
      font-size: 2.5rem !important;
      line-height: 1.35;
    }

    .syllabus-section{
      width: 100%;
      margin-left: 80px;
    }
    .overline{
      font-size: 1.7rem !important;
      margin-bottom: 36px !important;
    }

    .container{
      max-width: 830px;
    }

    .syllabus-image{
      padding-left: 12%;
    }
    .hero-heading{
      padding: 0 4%;
      font-size: 4rem !important;
    }
    .heading-subtext{
      font-size: 2rem !important;
      width: 85%;
      line-height: 1.5;
      margin-bottom: 72px;
      margin-top: 36px;
    }
    .hero-video {
      width: 88%;
   }

   .wmt{
     padding-top: 44px;
   }

   .wmb{
     padding-bottom: 16px;
   }

    h4{
      font-size: 2rem;
    }

    .pm{
      position: inherit;
    }
    .pm2{
      position: relative;
      left: 368px;
    }
    .card-summ{
      width: 100%;
    }
    .s-text{
      font-size: 2.5rem !important;
      line-height: 1.35;
    }
    .navbar{
      padding-bottom: 0.5rem !important;
      padding-top: 0.5rem !important;
    }

    .header-btn{
      font-size: 2rem !important;
      width: 484px;
      padding-top: 2%;
      padding-bottom: 2%;
      border-radius: 200rem 200rem;
      margin-bottom: 88px;
    }
    .header-btn1{
      font-size: 2.5rem !important;
      margin-bottom: 5%;
      margin-left: 5%;
    }
    p{
      font-size: 2rem !important;
      margin-bottom: 2.5rem;
    }

    .support-header{
      line-height: 1.35;
      width: 91%;
      margin-bottom: 36px;
    }
    .support-subheader{
      font-size: 2rem;
    }
    .support-image {
      height: auto;
      width: 113%;
      position: relative;
      right: 58px;
    }
    .support-para{
      width: 85%;
      font-size: 2.5rem;
      line-height: 1.35;
    }

    .ml{
      position: relative;
      right: 30px;
    }
    .mr{
      position: relative;
      left: 30px;
    }

    .support-text{
      width: 100%;
      margin-bottom: 140px;
    }

    .fsize{
      font-size: 2.5rem !important;
      min-width: 900px;
      margin-left: -61px;
      margin-bottom: 16px;

    }

    .psize{
      font-size: 2.3rem;
      min-width: 801px;
      margin-left: -59px;
      line-height: 1.35;
    }

    .fs1rem{
      font-size: 2rem !important;
      line-height: 1.35;
    }

    .bonus-heading{
      width: 97%;
    }
    .toolkit-text{
      font-size: 2.5rem !important;
      line-height: 1.35;
    }
    .syllabus-subtext{
        font-size: 2.5rem;
        width: 80%;
        min-width: -webkit-fill-available;
        line-height: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .course-text{
      font-size: 2.5rem !important;
    }

    .calender-size{
      margin-left: -8px !important;
      height: 192px;
    }
    .calender-size2{
      margin-left: -8px !important;
      height: 192px;
    }
    .bonus-header{
      width: 100%;
      padding: 2%;
    }
    .bio-subheader{
      font-size: 3rem;
    }
    .bio-sections{
      position: relative;
      left: 5px;
      min-width: 879px;
    }
    .bio-copy{
      padding: 0;
      margin: 0;
      margin-top: 50px;
      min-width: 830px;
      padding-left: 5%;
      margin-bottom: 5%;
    }
    .faq-header{
      font-size: 3rem;
    }
    .summary-width{
      grid-template-columns:1fr;
      grid-auto-rows: minmax(200px, auto);
    }
    .faq{
      margin-top: 410px;
      margin-bottom: 410px;
    }
    #summary{
      padding: 40% 0% 30%;
    }
    #course-plan {
      padding: 15% 0 30%;
    }
    #chapter1{
      padding: 10% 0 17%;
    }
    #chapter2{
      padding: 15% 0 7%;
    }
    #testimonials {
      padding: 0 5% 25%;
    }
    .ord2{
      order: 1;
    }
    .ord1{
      order: 2;
    }
    .navbar-brand{
      font-size: 2.7rem !important;
    }

    .summary-width{
      flex-direction: column;
    }


    .credit-tag{
      width: 60%;
    }

    #summary .card-header{
      font-weight: bold;
      font-size: 2.2rem;
      padding-left: 3%;
      padding-top: 5%;
      padding-bottom: 5%;
    }

    .summary-price{
      font-weight: bold;
      font-size: 2.5rem;
      margin-bottom: 3%;
    }

    .summary-img{
      margin-left: 10%;
    }

    .bio-lmar {
      padding: 0;
      margin: 0;
      font-size: 3rem;
      font-weight: bold;
      padding-left: 5%;

    }

    .bio-overline{
      font-size: 1.5rem;
      font-weight: lighter;
      padding-top: 5%;
      padding-left: 5%;
    }
  /* } */
