.mw {
    min-width: 441px;
}

.padding-2 {
    padding-left: 83px;
    padding-right: 81px;
}

.padding-3 {
    padding-left: 76px;
    padding-right: 71px;
}

.grid3{
    position: relative;
    left: 90px;
}

.rmar{
    margin-left: 15px;
}
